* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
}

/* header */


h1 h2 {
    font-family: 'Playfair Display';
    font-size: 18px;
    line-height: 150%;
}

header {
    background-image: url(./cources/bgc.png);
    background-size: 100% 100%;
    position: relative;
    height: 95vmin;

}

main {
    background: #282828;
}

.wineMap {
    background: #E6E3C4;
}

.tasting {
    background: #282828;
}

footer {
    background: #998431;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.namePhone {
    width: 61%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #ffffff;
}

.namePhone a {
    color: #fff;
    
}


.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    width: 61vw;
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #ffffff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.nav li {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #fff 1px solid;
}

.nav li:last-child {
    border-right: none;
}

.nav a {
    color:#ffffff;
}

.bottomContainer {
    height: 165px;
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    bottom: 0;
    gap: 30px;
}

.btnVineMap {
    width: 203px;
    height: 50px;
    background: #99862A;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}

.btnVineMap:hover {
    background-color: #bba849;
}


.btnTasting {
    width: 203px;
    height: 50px;
    color: #fff;
    background: #99862A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}

.btnTasting:hover {
    background-color: #bba849;
}

/* description */

main {
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 1110px;
    height: 656px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    border: solid #fff 1px;
    font-family: 'Playfair Display';
}

.description p {
    font-family: 'Montserrat';
    padding-left: 188px;
    padding-right: 188px;
    padding-top: 40px;
}

.description span {
    border-bottom: solid #fff 1px;
}

.description img {
    bottom: 40px;
}

/* wineMap */

.wineMap {
    height: 105vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.trait {
    display: block;
    width: 1110px;
    border: 2px solid #998431;
}

.wineMapDescription {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border-top: 3px solid #998431;
    border-bottom: 3px solid #998431;
    padding: 60px 0 60px 0;
}

.newCollection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tableBottle {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: black;
}

.tableBottle p {
    background-color: #E6E3C4;
}
.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}

.top {
    border-top: 1px solid black;
}

.left {
    border-left: 1px solid black;
}

.firstRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondRow {
padding: 10px 0px 10px 10px;
}
.wineMapDescription h1 {
    border-bottom: 1px solid black;
}

.wineMapDescription p {
    font-family: 'Montserrat';
}

.wineMapPhoto {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wineMapPhoto div {
    display: flex;
    justify-content: space-between;
}

/* Tasting */

.tasting {
    height: 83vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tastingDescription {
    width: 1110px;
    height: 538px;
    display: flex;
    border: #ffffff 3px solid;
}

.tastingDescription::before {
    content:url("./cources/image (2).png");
    position: absolute;
    left: 19.5%;
    top: 3100px;

}

.tastingDescription::after {
    content:url("./cources/image (1).png");
    position: absolute;
    right: 18.2%;
    top: 3100px;
}
/* Footer*/

footer {
    height: 21vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerDescriptionTop {
    width: 1110px;
    border-top: 3px solid white;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerDescriptionTop a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    color: #fff;
    font-family: 'Montserrat';
}

.footerDescriptionBottom {
    width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 3px solid white;

}

.footerDescriptionBottom p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    color: #fff;
    font-family: 'Montserrat';
    overflow-wrap: normal;
}

.footerDescriptionBottom img {
    object-fit: none;
}
.footerDescription p h1 {
    font-size: 14px;
}

